.products-container {
  padding: 20px;
  display: flex;
  justify-content: center; 
}

.products-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 1fr; 
  gap: 20px; 
}

.products-items-container .card {
  display: flex;
  flex-direction: column; 
  height: 450px; 
  width: 180px; 
  margin: 0 auto; 
}

.products-items-container .card img {
  height: 250px; 
  object-fit: cover; 
}
